{% extends 'base.html.twig' %}

{% block title %}Edit Workgroup{% endblock %}

{% block body %}
    <h1>Edit Workgroup</h1>

    {{ include('workgroup/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_workgroup_index') }}">back to list</a>

    {{ include('workgroup/_delete_form.html.twig') }}
{% endblock %}
