{% extends 'base.html.twig' %}

{% block title %}New Workgroup{% endblock %}

{% block body %}
    <h1>Create new Workgroup</h1>

    {{ include('workgroup/_form.html.twig') }}

    <a href="{{ path('app_workgroup_index') }}">back to list</a>
{% endblock %}
